<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.donny.moneyapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".inShop">

        </activity>

        <activity
            android:name=".startOneTime"
            android:theme="@android:style/Theme.Holo.NoActionBar">
        </activity>

        <activity
            android:name=".SalaryDialogAct"
            android:theme="@android:style/Theme.Holo.NoActionBar">
        </activity>

        <activity android:name=".Main_Activity"
            android:label="MoneyApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Spending" />

        <activity android:name=".Earning" />
        <activity android:name=".ATMDialog" />
        <activity android:name=".Statistics"
            android:theme="@android:style/Theme.Holo.Dialog.NoActionBar"
        />
        <activity android:name=".spendList"
            android:theme="@android:style/Theme.Holo.Dialog.NoActionBar"
            />
        <activity android:name=".earnList"
            android:theme="@android:style/Theme.Holo.Dialog.NoActionBar"

            />
        <activity android:name=".daysstat" />
        <activity android:name=".settings" />

    </application>

</manifest>